body {
  background: #333;
}

h1 em {
  color: white;
}

h1 {
  color: white;
}

h1#countdown:hover {
  cursor: pointer;
}

span {
  color: white;
}

a {
  color: white;
}

a:hover, a:visited, a:focus {
  text-decoration: none;
  color: white;
}


.minus-button, .plus-button, .input-value {
  padding: 5px;
  margin: 5px;
  font-size: 2.5em;
}

.duration-input {
  color: white;
  display: inline-block;
}

.toggle-container {
  padding: 25%;  
}
